@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0f0f0f;
  color: #f9f9f9;
  font-family: 'Inter', sans-serif;
}
  

/* in src/index.css (or your global CSS used by Tailwind) */
footer {
  box-shadow: 0 -20px 80px rgba(255,255,255,0.04) inset;
}
